body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--background-main);
    color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.hub-container {
    aspect-ratio: 1 / 1;
    width: min(80vh, 80vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-2);
    padding: 20px;
    border-radius: 10vh;
}

.hub-header {
    text-align: center;
    margin-bottom: 5px;
    margin-top: -10%;
}

.hub-header h1 {
    font-size: 3em;
    color: var(--header-color-green);
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.nav-button {
    padding: 20px;
    font-size: 1.6em;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--background-2);
    color: var(--header-color-red);
    text-align: center;
    text-decoration: none;
    display: block;
}

.nav-button:hover {
    background: var(--background-3);
}

/* Responsive design */
@media (max-width: 768px) {
    .buttons-container {
        max-width: 300px;
    }

    .nav-button {
        padding: 15px 25px;
        font-size: 1em;
    }

    .hub-header h1 {
        font-size: 2em;
    }
}